<!DOCTYPE html>
<html ng-app="imagesearch">
	<head>
		<title>ImageSearch</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	</head>
	<body ng-controller="main">

		<div style="position:absolute;left:0px;top:0px;width:90%;height:90%;z-index:0px;">
			
			<select ng-model="selectedCategory" ng-options="c.label for c in categories" style="width:152px;">
			   <option value="">All</option>
			</select>
			<button ng-click="categorySearch()">Category Search</button>
			<br/>
			<input type="text" ng-model="tagText" style="width:180px;"/>
			<button ng-click="tagSearch()">Tag Search</button>
			
			<br/>
			
			<div>
			   <br/>
			   <img ng-src="{{uiImages[0].thumbUrl}}" alt="{{uiImages[0].name}}" title="{{uiImages[0].name}}" style="max-height:120px;max-width:120px;" ng-click="openDetails(0)" />
			   <img ng-src="{{uiImages[1].thumbUrl}}" alt="{{uiImages[1].name}}" title="{{uiImages[1].name}}" style="max-height:120px;max-width:120px;" ng-click="openDetails(1)"/>
			   <img ng-src="{{uiImages[2].thumbUrl}}" alt="{{uiImages[2].name}}" title="{{uiImages[2].name}}" style="max-height:120px;max-width:120px;" ng-click="openDetails(2)"/>
			   <br/>
			   <img ng-src="{{uiImages[3].thumbUrl}}" alt="{{uiImages[3].name}}" title="{{uiImages[3].name}}" style="max-height:120px;max-width:120px;" ng-click="openDetails(3)"/>
			   <img ng-src="{{uiImages[4].thumbUrl}}" alt="{{uiImages[4].name}}" title="{{uiImages[4].name}}" style="max-height:120px;max-width:120px;" ng-click="openDetails(4)"/>
			   <img ng-src="{{uiImages[5].thumbUrl}}" alt="{{uiImages[5].name}}" title="{{uiImages[5].name}}" style="max-height:120px;max-width:120px;" ng-click="openDetails(5)"/>
			   <br/>
			   <img ng-src="{{uiImages[6].thumbUrl}}" alt="{{uiImages[6].name}}" title="{{uiImages[6].name}}" style="max-height:120px;max-width:120px;" ng-click="openDetails(6)"/>
			   <img ng-src="{{uiImages[7].thumbUrl}}" alt="{{uiImages[7].name}}" title="{{uiImages[7].name}}" style="max-height:120px;max-width:120px;" ng-click="openDetails(7)"/>
			   <img ng-src="{{uiImages[8].thumbUrl}}" alt="{{uiImages[8].name}}" title="{{uiImages[8].name}}" style="max-height:120px;max-width:120px;" ng-click="openDetails(8)"/>
			   <br/>
			</div>
			
			<br/>
			
			<button ng-click="leftPage()" ng-hide="leftHidden">Prev</button>
			<select ng-model="selectedPage" ng-hide="pageSelectHidden" ng-options="p.label for p in pages" ng-change="onPageChange(selectedPage)">
			   <option value=""></option>
			</select>
			<button ng-click="rightPage()" ng-hide="rightHidden">Next</button>

		</div>
		
		<div style="position:absolute;left:0px;top:0px;width:100%;height:100%;z-index:1px;background:rgba(225, 225, 225, .8);" ng-hide="detailsHidden" ng-click="closeDetails()" >
	       <img ng-src="{{detailsImage.thumbUrl}}" alt="{{detailsImage.name}}" title="{{detailsImage.name}}" style="max-height:360px;max-width:360px;" />
		</div>
		
			
		<script>
			angular
			.module('imagesearch', [])
			.controller('main', function($scope)
			{
				$scope.tagText = '';
				$scope.imageResults = '';
				$scope.pages = [];
				$scope.categories = [];
				
				$scope.leftHidden = true;
				$scope.rightHidden = true;
				$scope.pageSelectHidden = true;
				
				$scope.detailsHidden = true;
				$scope.detailsImage = {thumbUrl: ' ', name: ''};
				
				$scope.maxPages = 0;
				$scope.page = 0;
				$scope.results = 0;
				
				// Local images
				$scope.images = [];
				$scope.uiImages = [];

				/*****************************************************/
				// methods
				$scope.categorySearch = function()
				{
				   var category = $scope.selectedCategory;
				   
				   console.info('Category! ' + category);
				   
				   $scope.categoryQuery(category);
				}
				
				$scope.tagSearch = function()
				{
				   var query = $scope.tagText;

				   $scope.tagQuery(query);
				   
				}

				$scope.clearDisplayImages = function()
				{
				   // clear display images for all nine images
				   for (var i = 0; i < 9; i++)
				   {
					  console.info("Clearing uiImage " + i);
					  
					  if (i >= $scope.uiImages.length)
					  {
						 $scope.uiImages.push({
							name : ' ',
							thumbUrl : ' '
						 });
					  }
					  
					  $scope.uiImages[i].name = ' ';
					  $scope.uiImages[i].thumbUrl = ' ';
					  
					  console.info("Name '" + $scope.uiImages[i].name + "', Url '" + $scope.uiImages[i].thumbUrl + "'");
				   }
				   
				}
				
				$scope.categorySearch = function(category)
				{
					$scope.launchQuery("category=" + category);
				}

				$scope.tagQuery = function(tag)
				{
				   $scope.launchQuery("tag=" + tag);
				}

				$scope.launchQuery = function(queryString)
				{
				
				   $scope.page = 0;
				   $scope.maxPages = 0;
				   $scope.images = [];
				   
				   $scope.clearDisplayImages();

				   // query here
				   
				   // ...
				   
				   // dummy testing part
				   var returnString = '12,1,http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=430549&type=card,' + 
				    '2,http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=430550&type=card,' + 
					'3,http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=430551&type=card,' + 
					'4,http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=430552&type=card,' + 
					'5,http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=430553&type=card,' + 
					'6,http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=430554&type=card,' + 
					'7,http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=430555&type=card,' + 
					'8,http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=430556&type=card,' + 
					'9,http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=430557&type=card,' + 
					'10,http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=430558&type=card,' + 
					'11,http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=430559&type=card,' + 
					'12,http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=430560&type=card';

				   var texts = returnString.split(",");
				   
				   console.info("Elements: " + texts.length);
				   
				   // parse the query results
				   if (texts.length > 1)
				   {
					  $scope.results = texts[0];
					  
					  for (var i = 0; i < $scope.results; i ++)
					  {
						  
						  $scope.images.push({
							 name : texts[i * 2 + 1], 
							 thumbUrl : texts[i * 2 + 2]
						  });
						  
					   }
				   
				   }

				   $scope.adjustButtons();
				   $scope.displayImages();
				   
				}
				
				$scope.adjustButtons = function()
				{
				   
				   if ($scope.results > 0)
				   {
					  $scope.maxPages = Math.trunc((parseInt($scope.results) + 8) / 9);
					  
					  var listOptions = '';
					  $scope.pages = [];
					  
					  for (var i = 0; i < $scope.maxPages; i++)
					  {
						 if (listOptions != '')
						 {
							listOptions += ',';
						 }
						 
						 listOptions += (i+1);
						 
						 $scope.pages.push({label:(i + 1), value: (i)});
						 
					  }
					  
					  if ($scope.maxPages > 1)
					  {
						$scope.leftHidden = false;
						$scope.rightHidden = false;
						$scope.pageSelectHidden = false;
					  }
					  else
					  {
						$scope.leftHidden = true;
						$scope.rightHidden = true;
						$scope.pageSelectHidden = true;
					  }
				   
				   }
				
				}
				
				$scope.displayImages = function()
				{
					var start = $scope.page * 9;
					var quantity = $scope.results - start;
					
					console.info("Looping from " + start + " to " + quantity);
					
					// top the number of images here
					if (quantity > 9)
					{
					   quantity = 9;
					}
				
					for (var i = 0 ; i < quantity ; i++)
					{
						var pos = start + i;
						
						console.info("Pos: " + pos + " vs " + $scope.images.length);
						
						if (pos < $scope.images.length)
						{
							$scope.uiImages[i].name = $scope.images[pos].name;
							$scope.uiImages[i].thumbUrl = $scope.images[pos].thumbUrl;
						}
					
					}

				}
				
				$scope.onPageChange = function(pageSelected)
				{
				   if (pageSelected != null)
				   {
					  console.info("Value: " + pageSelected.value + " vs " + $scope.maxPages);
				   
					  if (pageSelected.value >= 0 && pageSelected.value < $scope.maxPages)
					  {
						 $scope.clearDisplayImages();  
						 $scope.page = pageSelected.value;
						 $scope.displayImages();
					  }
				   }
				}
				
				$scope.leftPage = function()
				{
					if ($scope.page > 0) 
					{
					   $scope.clearDisplayImages();
					   $scope.page--;
					   $scope.displayImages();
					}
				}
				
				$scope.rightPage = function()
				{
					console.info("Page " + $scope.page + " vs " + $scope.maxPages);
					
					if ($scope.page < $scope.maxPages - 1)
					{
					   $scope.clearDisplayImages();
					   $scope.page++;
					   $scope.displayImages();
					}
				}

				$scope.openDetails = function(imageNum)
				{
					if (imageNum >= 0 && imageNum < 9)
					{
						if ($scope.uiImages[imageNum].thumbUrl != ' ' && $scope.uiImages[imageNum].thumbUrl != '')
						{
						   $scope.detailsHidden = false;
						   $scope.detailsImage.name = $scope.uiImages[imageNum].name;
						   $scope.detailsImage.thumbUrl = $scope.uiImages[imageNum].thumbUrl;
						}
					}
				}
				
				$scope.closeDetails = function()
				{
					$scope.detailsHidden = true;
					$scope.detailsImage.name = '';
					$scope.detailsImage.thumbUrl = ' ';
				}
				
			});

		</script>
	</body>
</html>
